.btn-SwapButton {
  display: inline-block;
  min-height: 40px;
  min-width: 40px;
  line-height: 40px;
  margin: 0 1rem;
  padding: 0;
  background-color: #2b2b2b;
  color: #fff;
  cursor: pointer;
  border: none;
  box-shadow: 2px 2px 8px transparentize(#000, .9);
  border-radius: 50%;
  outline: none;
  transition: all .3s ease-in-out;

  &:focus,
  &:hover {
    outline: none;
    background-color: #4b4b4b;
    box-shadow: 0 0 2px transparentize(#000, .9);
  }
}

.btn-SwapButton:not([aria-hidden=true]) {
  @media screen and (min-width: 512px) {
    display: none;
  }
}

.btn-SwapButton[aria-hidden=true] {
  display: none;

  @media screen and (min-width: 512px) {
    display: inline-block;
  }
}
