.form-Form {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 512px) {
    flex-direction: row;
  }
}

.form-Group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-Control {
  margin-bottom: 1rem;
  padding: 5px 10px;
  width: 100%;
  border-radius: 3px;
  box-shadow: none;
  border: 1px solid #ddd;
  outline: none;
}

.form-Control-from {
  &:focus {
    border-color: $primary-color;
    box-shadow: 0 0 2px $primary-color;
  }
}

.form-Control-to {
  &:focus {
    border-color: $secondary-color;
    box-shadow: 0 0 2px $secondary-color;
  }
}

.form-Select {
  background: transparent;
  border: none;
}

.form-Select-from {
  background-color: $primary-color;

  &:focus {
    box-shadow: 0 0 4px $primary-color;
  }
}

.form-Select-to {
  background-color: $secondary-color;

  &:focus {
    box-shadow: 0 0 4px $secondary-color;
  }
}
