// Colors
// -----------------------------------------------------------------------------

$primary-color: #30cfd0;
$secondary-color: #eec111;
$link-color: darken($primary-color, 20);
$success-color: #00c14f;
$error-color: #ee0000;
