@import "reboot";
@import "variables";
@import "button";
@import "form";
@import "toast";

html,
body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  background-blend-mode: multiply,multiply;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
  flex: 1 auto;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

a {
  color: $link-color;
  transition: color .3s ease-in;

  &:focus,
  &:hover {
    color: darken($link-color, 10);
  }
}

svg {
  vertical-align: middle;
}

.app-Container {
  max-width: 768px;
  margin: auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 4px transparentize(#000, .8);
}

.app-Header {
  padding: .5rem 1rem;
  background-color: #2b2b2b;
  color: #fff;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}

.app-Name {
  margin: 0;
  font-family: Anton, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.5rem;
}

.app-Content {
  padding: 2rem;
}

.app-Footer {
  padding: 1rem;
}

.app-Footer_Credits {
  margin: 0;
  color: #444;
  font-size: .9rem;
  text-align: center;
}
